<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Табиев</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/des">DES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gost">ГОСТ</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/rsa">RSA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hash">ХЭШ</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/ecp">ЭЦП</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <form action="/rsa" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Введите текст для шифрования: </label>
            <input class="form-control" name="text" id="exampleInputEmail1"
                   placeholder="Введите текст">
        </div>
        <div class="form-group">
            <label for="key">Введите "p": </label>
            <input class="form-control" name="p" id="key" placeholder="Введите p">
        </div>
        <div class="form-group">
            <label for="key">Введите "q": </label>
            <input class="form-control" name="q" id="key" placeholder="Введите q">
        </div>

        <button type="submit" class="btn btn-primary">Шифровать</button>
    </form>


    {% for res in result %}
        <li>{{ res }}</li>
    {% endfor %}


</div>
<!-- Optional JavaScript -->
<!-- Bootstrap CSS @author a.khaydin-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>